<div class="container">
  <div class="mt-5">
    <table id="myTable" style="width: 100%;" class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <th>Family Name</th>
      <th>Owner</th>
      <th>Members</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each families}}
      <tr>
        <td>{{Address}}</td>
        <td>{{FirstName}}  {{LastName}}</td>
        <td>{{familyLength}}</td>
        <td><a href="/admin/members/{{_id}}" class="btn btn-primary btn-sm">show members</a></td>
        <td><a href="/admin/payments/{{_id}}" class="btn btn-primary btn-sm">payment Details</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>

  </div>
</div>

<script>$(document).ready(function() {
  $('#myTable').DataTable({
    searching: true
  });
});
</script>