<div class="container my-5">
  <table class="table table dark table-striped table-bordered">
    {{#each paymentschema}}
      <h1>{{this.year}}</h1>
      <thead>
        <tr>
          <th scope="col">month</th>
          <th scope="col">current Payment status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.months}}
          <tr>
            <td>{{this.month}}</td>
            <td>{{this.status}}</td>
            <td>
              
                <a href="/edit/{{this.id}}" class="btn btn-danger">Due</a>
                <a href="/edit/{{this.id}}" class="btn btn-success">paid</a>
           
            </td>
          </tr>
        {{/each}}
      </tbody>
    {{/each}}
  </table>
</div>

