{{!-- <div class="container">
    <div class="row">
        <table class="table">
  <thead>
    <tr>
      <th>Prayer</th>
      <th>Azan</th>
      <th>Iqama</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each prayers}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.azan}}</td>
        <td>{{this.iqama}}</td>
        <td><button class="btn btn-primary btn-sm">Edit</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</div> --}}
{{!-- 
<div class="container">
    <div class="row">
        <table class="table">
  <thead>
    <tr>
      <th>Prayer</th>
      <th>Azan</th>
      <th>Iqama</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Fajar</td>
      <td>{{prayers.fajar.azan}}</td>
      <td>{{prayers.fajar.iqama}}</td>
      <td><button class="btn btn-primary btn-sm">Edit</button></td>
    </tr>
    <tr>
      <td>Dhuhr</td>
      <td>{{prayers.dhuhr.azan}}</td>
      <td>{{prayers.dhuhr.iqama}}</td>
      <td><button class="btn btn-primary btn-sm">Edit</button></td>
    </tr>
    <tr>
      <td>Asr</td>
      <td>{{prayers.asr.azan}}</td>
      <td>{{prayers.asr.iqama}}</td>
      <td><button class="btn btn-primary btn-sm">Edit</button></td>
    </tr>
    <tr>
      <td>Maghrib</td>
      <td>{{prayers.maghrib.azan}}</td>
      <td>{{prayers.maghrib.iqama}}</td>
      <td><button class="btn btn-primary btn-sm">Edit</button></td>
    </tr>
    <tr>
      <td>Isha</td>
      <td>{{prayers.isha.azan}}</td>
      <td>{{prayers.isha.iqama}}</td>
      <td><button class="btn btn-primary btn-sm">Edit</button></td>
    </tr>
    <tr>
      <td>Sunrise</td>
      <td>{{prayers.sunrise.azan}}</td>
      <td>{{prayers.sunrise.iqama}}</td>
      <td><button class="btn btn-primary btn-sm">Edit</button></td>
    </tr>
    <tr>
      <td>Jumua</td>
      <td>{{prayers.jumua.azan}}</td>
      <td>{{prayers.jumua.iqama}}</td>
      <td><button class="btn btn-primary btn-sm">Edit</button></td>
    </tr>
    <tr>
      <td>Eid</td>
      <td>{{prayers.eid.azan}}</td>
      <td>{{prayers.eid.iqama}}</td>
      <td><button class="btn btn-primary btn-sm">Edit</button></td>
    </tr>
  </tbody>
</table>


    </div>
</div> --}}


<div class="container">
  <div class="row mt-5 mx-5">
    <iframe src="https://timesprayer.com/widgets.php?frame=3&amp;lang=en&amp;name=cochin-kerala" style="border: none; overflow: hidden; width: 100%; height: 223px;"></iframe>
  </div>

</div>

<style>
  iframe{
    
  }
</style>