<div class="container"> 
    <div class="col-md-12 mt-5">
        <div class="row">
            <h1></h1>
            <table class="table table-striped">
  <thead>

    <tr>
     
      <th scope="col">Event</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <th scope="col">Image</th>
      <th scope="col">actions</th>
    </tr>
  </thead>
  <tbody>
  {{#each events}}
  <tr>
  
    <td>{{title}}</td>
    <td>{{description}}</td>
    <td>{{date}}</td>
    <td><img src="{{imagePath}}" alt="" width="50" height="50"></td>
    <td><a href="/admin/editevent/{{_id}}" class="btn btn-primary">edit</a>      <a class="btn btn-danger" href="/admin/deletevent/{{_id}}" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>


  </tr>
{{/each}}

  </tbody>
</table>


</div>
</div>
</div>